* {
  margin: 0;
}

main {
  margin: 5em;
  display: flex;
  gap: 1em;
  flex-direction: column;

  @media (width > 768px) {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

  .card {
    border: solid 2px ;
    border-color: (var(--card-border-light), var(--card-border-dark));
    border-radius: 1em;
    background-color: light-dark(var(--card-bg-light), var(--card-bg-dark));

    .card-header {
      background-color: light-dark(var(--card-header-bg-light), var(--card-header-bg-dark));
      padding: 1em;
      text-align: center;
      border-top-right-radius: 0.8em;
      border-top-left-radius: 0.8em;
      border-bottom: solid 2px ;
      border-color: (var(--card-header-border-light), var(--card-header-border-dark));
    }

    .card-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 1em;
      overflow: hidden;

      img {
        width: 100%;
        height: 200px;
        object-fit: scale-down;
        max-width: 320px;
        filter: blur(0.3em) contrast(0.8);
        transition: filter 0.3s ease;

        &:hover {
          filter: none;
        }
      }
    }

    &:hover {
      box-shadow: 2px 2px 8px light-dark(var(--card-shadow-light), var(--card-shadow-dark));
      transform: translateY(-0.2em);
      transition: 0.2s ease;

      h2 {
        transform: scale(1.1);
        transition: 0.2s ease;
      }
    }
  }
}
