@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap");
@import url("css/contenido.css");
@import url("css/menu-desktop.css") screen and (width > 900px);
@import url("css/menu-mobile.css") screen and (width <= 900px);
@import url("css/variables.css");

* {
  margin: 0;
  padding: 0;
  font-family: Oxanium, sans-serif;
}

body {
  background-color: light-dark(var(--body-bg-light), var(--body-bg-dark));
}

header {
  z-index: 1000;
  background-color: light-dark(var(--header-bg-light), var(--header-bg-dark));
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;

  h1 {
    display: flex;
    align-items: center;
    margin: 0;

    img {
      max-width: 50px;
      margin-right: 1em;
    }
  }

  a {
    color: light-dark(var(--link-fg-light), var(--link-fg-dark));
    text-decoration: none;
  }
}

footer {
  height: 2em;
  background-color: light-dark(var(--footer-bg-light), var(--footer-bg-dark));
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
